html {
    scroll-behavior: smooth;
}
body {
    margin: 0;
    display: grid;
    grid-template-columns: min-content 1fr;
    font-family: system-ui, sans-serif;    
    /* this breaks position sticky in Firefox */
    /* overflow-x: hidden; */
}
header {
    grid-column: 1 / 3;    
    background: #455A64;
    color: white;
    padding: 2rem;
    text-align: center;   
}
nav {
    white-space: nowrap;
    background: #37474F;    
}
nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    position: fixed;
}
/* Only stick if you can fit */
@media (min-height: 300px) {
    nav ul {
      position: sticky;
      top: 0;
    }
}
nav ul li a {
    display: block;
    padding: 0.5rem 1rem;
    color: white;
    text-decoration: none;
}
nav ul li img {
    width: 180px;
    height: auto;
}
nav ul li a.current {
    background: black;
}
main {
    padding-bottom: 40rem;
}
.info{
    margin: 0;
    padding: 1rem;    
}
.exp{
    margin: 0;
    padding: 1rem;    
}
.degr{
    margin: 0;
    padding: 1rem;    
}
footer {
    grid-column: 1 / 3;
    background: #607D8B;
    padding: 2rem 1rem;
    text-align: center;
}
ul#inline-language li{
    display:inline;
    list-style: none;
    padding-inline: 0.5rem;
    margin-left: 0;
    background-color: blanchedalmond;
    border-radius: 15px;
}
ul#inline-soft-skills li{
    display:inline;
    list-style: none;
    padding-inline: 0.5rem;
    margin-left: 0;
    background-color: cornsilk;
    border-radius: 15px;
}
.job{
    display: none;
}
.personal-info{
    display: none;
}
